<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Peru" class="btn btn-primary">Ver Reporte</a>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 text-center">
        <a href="../Home/Peru2" class="btn btn-primary">Departamentos, Provincias y Distritos</a>
    </div>
</div>